body {
	margin: 0;
	padding: 0;
}

#GameTitle {
	text-align: center;
	font-family: sans-serif;
	font-size: 28px;
	margin: 12px 0 8px 0;
}

#TakenPieces {
	max-width: 560px;
	padding: 4px 0;
	min-height: 40px;
}

.TakenRow {
	min-height: 36px;
	line-height: 0;
}

.TakenPieceImg {
	width: 35px;
	height: 35px;
}

#FenInDiv {
	display: none;
}

#fenIn {
  width: 480px;
}

#versionLink {
	font-size: small;
}

#LoadingBook {
	display: none;
}

#CurrentFenDiv {
	display: none;
}

#Board {
	position: relative;
	width: 560px;
	height: 560px;
	border-style: solid;
	border-width: 2px;
}

#EngineOutput {
	padding: 6px 4px;
	font-size: 14px;
	line-height: 1.8;
	max-width: 560px;
}

#EngineOutput select,
#EngineOutput button {
	font-size: 21px;
	padding: 6px 12px;
	margin: 2px;
}

#ThinkingImageDiv {
	display: none;
}

#ThinkingPng {
	width: 50px;
	height: 30px;
}

.Piece {
	position: absolute;
	width: 70px;
	height: 70px;
}

.Square {
	position: absolute;
	width: 70px;
	height: 70px;
}

.Light {
	background-color: #ffffff;
}

.Dark {
	background-color: #888888;
}

.SqSelected {
	background-color: #444444;
}

.clickElement { cursor: pointer }

.rank1 { top: 490px; }
.rank2 { top: 420px; }
.rank3 { top: 350px; }
.rank4 { top: 280px; }
.rank5 { top: 210px; }
.rank6 { top: 140px; }
.rank7 { top: 70px; }
.rank8 { top: 0px; }

.file1 { left: 0px; }
.file2 { left: 70px; }
.file3 { left: 140px; }
.file4 { left: 210px; }
.file5 { left: 280px; }
.file6 { left: 350px; }
.file7 { left: 420px; }
.file8 { left: 490px; }

.rank8flip { top: 490px; }
.rank7flip { top: 420px; }
.rank6flip { top: 350px; }
.rank5flip { top: 280px; }
.rank4flip { top: 210px; }
.rank3flip { top: 140px; }
.rank2flip { top: 70px; }
.rank1flip { top: 0px; }

.file8flip { left: 0px; }
.file7flip { left: 70px; }
.file6flip { left: 140px; }
.file5flip { left: 210px; }
.file4flip { left: 280px; }
.file3flip { left: 350px; }
.file2flip { left: 420px; }
.file1flip { left: 490px; }
